@page
@model Proyecto_01_BD.Pages.ReportesModel
@{
}

<div class="grid-container">
    <a href="/Reportes/ProductosCotizados" class="card">
        <div class="card-content">
            <h3>Top productos cotizados</h3>
            <p>Descripción de la página 2.</p>
        </div>
    </a>
    <a href="/Reportes/VentasFamilia" class="card">
        <div class="card-content">
            <h3>Ventas por familia</h3>
            <p>Descripción de la página 2.</p>
        </div>
    </a>
    <a href="/Reportes/VentasSector" class="card">
        <div class="card-content">
            <h3>Ventas por sector</h3>
            <p>Descripción de la página 2.</p>
        </div>
    </a>
    <a href="/Reportes/VenCotDepartamento" class="card">
        <div class="card-content">
            <h3>Ventas y Cotizacions por departamento</h3>
            <p>Grafico de barras</p>
        </div>
    </a>
    <a href="/Reportes/BodegasTransadas" class="card">
        <div class="card-content">
            <h3>Top Bodegas más Transadas</h3>
            <p>Top de Bodegas con más articulsos Transados.</p>
        </div>
    </a>
    <a href="/Reportes/EntradasSalidasBodegas" class="card">
        <div class="card-content">
            <h3>Entradas y salidas</h3>
            <p>Gráfico de Entras y Salidas Bodegas</p>
        </div>
    </a>
    <a href="/Reportes/TareasAntiguas" class="card">
    <div class="card-content">
        <h3>Top tareas más antiguas sin cerrar</h3>
        <p>Consulta de tareas pendientes más antiguas.</p>
    </div>
    </a>
    <a href="/Reportes/PlanillaPorDepartamento" class="card">
    <div class="card-content">
        <h3>Planilla por departamento</h3>
        <p>Gráfico circular mostrando montos por departamento.</p>
    </div>
</a>
<a href="/Reportes/MontoPagadoPorPlanillaMesAnio" class="card">
    <div class="card-content">
        <h3>Monto pagado por planilla</h3>
        <p>Gráfico de barras con pagos por mes y año.</p>
    </div>
</a>
<a href="/Reportes/VentasYCotizaciones" class="card">
    <div class="card-content">
        <h3>Ventas y Cotizaciones Mensuales</h3>
        <p>Gráfico de barras comparativo de ventas y cotizaciones.</p>
    </div>
</a>
<a href="/Reportes/ClientesVentasZona" class="card">
    <div class="card-content">
        <h3>Ventas y Cotizaciones Mensuales</h3>
        <p>Gráfico de barras comparativo de ventas y cotizaciones.</p>
    </div>
</a>
<a href="/Reportes/TopBodegas" class="card">
    <div class="card-content">
        <h3>Top de bodegas con más artículos almacenados. </h3>
        <p>Tabla que muestra el top de bodegas con más artículos almacenados. .</p>
    </div>
</a>
<a href="/Reportes/TopProductos" class="card">
    <div class="card-content">
        <h3>Top de 10 de productos más vendidos. </h3>
        <p>Tabla que muestra el top de los 10 productos más vendidos.</p>
    </div>
</a>
<a href="/Reportes/ProductosMasComprados" class="card">
    <div class="card-content">
        <h3>Top de 10 de productos más comprados. </h3>
        <p>Tabla que muestra el top 10 de productos más comprados. Descripción y monto.</p>
    </div>
</a>
<a href="/Reportes/CantidadTareasPorUsuario" class="card">
    <div class="card-content">
        <h3>Cantidad de tareas por usuario. </h3>
        <p>Muestra la cantidad de tareas por usuario</p>
    </div>
</a>
<a href="/Reportes/VentasPorSectorDepartamento" class="card">
    <div class="card-content">
        <h3>Ventas por sector por departamento. </h3>
        <p>Grafico de barras que muestra las ventas por el sector y departamento</p>
    </div>
</a>
    </a>
    <a href="/Reportes/MontoPagadoPorPlanillaMesAnio" class="card">
        <div class="card-content">
            <h3>Monto pagado por planilla</h3>
            <p>Gráfico de barras con pagos por mes y año.</p>
        </div>
    </a>

</div>


<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Ajustar*/
        gap: 20px; 
        padding: 20px;
    }

    .card {
        display: block;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        color: #333;
        transition: transform 0.2s, box-shadow 0.2s;
    }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        }

    .card-logo {
        width: 100%;
        height: 150px;
        object-fit: cover; 
        border-bottom: 1px solid #ddd;
    }

    .card-content {
        padding: 15px;
    }

        .card-content h3 {
            margin: 0;
            font-size: 18px;
            color: #007bff;
        }

        .card-content p {
            margin-top: 5px;
            font-size: 14px;
            color: #666;
        }

</style>
