@page
<link rel="stylesheet" href="/css/styles.css">

<div class="container">
    <h2>Gestión de Usuarios</h2>

    <ul>
        <li><a href="AgregarUsuario">Agregar Usuario</a></li>
        <li><a href="ModificarUsuario">Modificar Usuario</a></li>
        <li><a href="EliminarUsuario">Eliminar Usuario</a></li>
    </ul>
</div>
